/* ----- EXTRACTED COLORS----- */
/*https://www.colorcombos.com/combotester.html*/


.colors {
    color: #05386b;
    color: #0000FF;
    /* blue */
    color: #333333;
    color: #eeeeee;
    color: #fafafa;
    color: #ffffff;
    color: #DBDEE2;
    /* gradient */
}


html,
body {
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
}


/* ----- TYPOGRAPHY----- */

h2 {
    font-size: 2em;
    color: #05386B;
    padding-top: .3em;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 0;
    font-variant: normal;
}


/* ----- COMMON / UTILITY ELEMENTS----- */

a {
    text-decoration: none;
    color: #333333;
    -webkit-transition: color 0.30s;
    transition: color 0.30s;
}


a:hover {
    color: #005ebc;
}





/* ----- HEADER and NAV -----*/
header {
    text-decoration: none;
    background-color: #1d4b79;
    font-family: 'Rokkitt', sans-serif;
    color: #fafafa;
    margin: 0;
    text-align: center;
    width: 100%;
    top: 0;
    padding: 1.5em 0em;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: .1em;
}


#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
}

#navbar li{
    text-decoration: none;
    list-style: none;
    
}

#navbar li a{
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    text-decoration: none;
    color: white;
}

.active, #navbar li a:hover{
    background-color: #356ba1;
     -webkit-transition: background-color 0.30s;
    transition: background-color 0.30s;
}

#navbar #projects-nav {
    display: none;
}


/* ----- FOOTER -----*/

footer {
    background: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: #05386B;
    font-size: .7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p {
    font-size: 1.25em;
    margin: 1em auto;
}

footer p:last-of-type {
    padding-left: 50%;
}

footer p:first-of-type {
    padding-right: 50%;
}




/* ----- STRUCTURAL LAYOUT -----*/

.wrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    height: auto;

}

.wrapper section, .projects-wrapper section, .profile-wrapper section, .game-design-wrapper section{
    padding: 2em;
}

.wrapper p {
    line-height: 1.5em;
}

.projects-wrapper {
    display: block;
    max-width: 1450px;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.hidden{
    opacity: 0%;
    visibility: hidden;
    -webkit-transition: opacity 1s,  visibility 2s;
    transition: opacity 1s,  visibility 2s;
    
}

.visible{
    opacity: 100%;
    visibility: visible;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;

}

.tools-used {
    color: #356ba1;
}
/* ------ LeftSide of Index Main ------*/


.imglink {
    position: relative;
    display: inline-block;
}

.imglink:after {

    color: rgba(5, 56, 107, 0.8);
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.imglink:hover:after {
    content: "Visit Link ↗";
    font-size: 1.5em;
    font-weight: 900;
    text-shadow: 2px 2px 3px #000;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
     -webkit-transition: visible 1s;
    transition: visible 1s;
}

#leftside h2{
    padding: 0;
    margin: 0;
}

#leftside a {
    text-decoration: underline;
    color: #05386b;
}

#leftside div {
    background: #ffffff;
    width: 90%;
    height: auto;
    margin: 2em auto;
    padding: 0;
    display: inline-grid;
}

#leftside #index-project1{
    margin-top: 1m;
    padding-top: 0;
}

#leftside img {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#leftside div p {
    margin: 1em;
    font-size: 1.1em;
    font-family: 'Karla', sans-serif;
    line-height: 25px;
    color: #333333;
}

#leftside div p a {
    text-decoration: none;
    color: #333333;
}

#leftside .highlightedlink {
    text-decoration: underline;
    color: #005ebc;
}

#leftside div .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin: 0;
    
}

#leftside div .video-container img {
    width: 100%;
    height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
}

#leftside div .video-container .play-button{
    padding: 0;
    height: inherit;
    cursor: pointer;
    width: 50%;
    padding: 13.75% 25%;
}

#leftside div .video-container .play-button:hover{
    fill: blue;
}


#leftside div .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* ------ Leftside of Projects Main ------*/

#projects-leftside div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 4em auto;
    width: 100%;
    background: #ffffff;
    height: auto;
}

#projects-leftside .wide-project{
    display: block;
}

#projects-leftside .wide-project a {
    width: 100%;
}

#projects-leftside .wide-project p {
    padding: 2em;
    margin: 0;
}

#projects-leftside .quad-project{
    grid-template-rows: 1fr 1fr;
    height: auto;
    padding: 0;
    margin: 0;
}


#projects-leftside .quad-project .quad-videos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    width: 100%;    
}

#projects-leftside .quad-project .quad-videos video {
    width: 98%;
    padding: 0;
    margin: auto;
    
}

#projects-leftside .quad-project .quad-videos #top-left {
    margin: 0 auto auto 0;
}

#projects-leftside .quad-project .quad-videos #top-right {
    margin: 0 0 auto auto;
}

#projects-leftside .quad-project .quad-videos #bottom-left {
    margin: auto auto 0 0;
}

#projects-leftside .quad-project .quad-videos #bottom-right {
    margin: auto 0 0 auto;
}


#projects-leftside div .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin: 0;
    
}


#projects-leftside div .video-container img{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
}

#projects-leftside div .video-container .play-button{
    padding: 0;
    height: inherit;
    width: 50%;
    padding: 13.75% 25%;
    cursor: pointer;
}

#projects-leftside div .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

#projects-leftside img{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

#projects-leftside a{
    margin: 0;
    padding: 0;
}

#projects-leftside div p{
    font-size: 1.25em;
    line-height: 1.5em;
    height: auto;
    margin: auto 2em;
    font-family: 'Karla', sans-serif;
    color: #333333;
}


#projects-leftside h2 {
    padding-top: 0;
}

#projects-leftside a {
    text-decoration: underline;
    color: #05386b;
}


#projects-leftside div p a {
    text-decoration: none;
    color: #333333;
}

/* ------ About Me Page ---------*/

.profile-wrapper {
    padding: 1em;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    height: auto;
}

.profile-wrapper div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    width: 90%;
}

.profile-wrapper h2 {
    padding-top: 0;
}
    
.profile-wrapper div img {
    border-radius: 30em;
    width: 60%;
    height: auto;
    margin: auto;
    padding: .5em;
    background: #356ba1;
    border: .5em #1d4b79 solid;
}

.profile-wrapper p {
    width: 80%;
    padding: 2em;
    background: #ffffff;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.5em;
}


/* ------ Leftside Game Design of Main ------*/

.game-design-wrapper{
    display: block;
    max-width: 1450px;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
}

.game-design-wrapper section div {
    width: 100%;
    display: block;
    background: #ffffff;
    margin-bottom: 5em;
}

.game-design-wrapper section div img {
    width: 100%;
}

.game-design-wrapper section div a{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.game-design-wrapper section div p{
    margin: auto;
    padding: 2em 0;
    width: 85%;
    font-size: 1.25em;
}


/* ------ RightSide of Main ------*/


#rightside p{
    font-size: 1.1em;
}

#rightside a{
    font-size: 1.1em;
}

#rightside h2{
    margin: 0;
    padding: 0;
}


#rightside #research .research-title{
    margin-top: .5em;
    margin: .5em 0 0;
    font-size: 1.3em;
}

#rightside #research .research-school{
    margin: 0;
    font-size: 1.2em;
}

#rightside #research p {
    margin-top: 0.5em;
}

#rightside ul {
    padding: 0;
}

#rightside ul li {
    list-style: none;
    margin-bottom: 1em;

}

#aboutme,
#contactinfo,
#research,
#skills {
    margin-bottom: 1em;
    border-bottom: 2px grey solid;
    padding: 0;
}

#skills {
    border-bottom: none;
}

#courselist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


#courselist li {
    font-family: "Montserrat", sans-serif;
    border-radius: .5em;
    text-align: center;
    padding: .5em;
    vertical-align: bottom;
    font-size: .9em;
    background: rgba(5, 56, 107, .09);
    min-width: 70%;
    max-width: 80%;
}


/* SKILL BAR PAGE ELEMENTS */

#skills p b {
    text-indent: 20%;
}

.skillBar {
    margin: 1em 0;
    width: 100%;
    height: 1em;
    background: #ffffff;
    border-radius: 0.35em;
    border-bottom: .1em grey solid;
    
}


#strong,
.proficient,
#beginner,
#intermediate {
    z-index: 2;
    min-height: 103%;
    max-height: 104%;
    background: #ccced0;
    background-image: linear-gradient(to right, #DBDEE2, #005ebc);
    border-radius: 0.35em;
    margin: 0;
    padding: 0;
}

#strong {
    width: 85%;
}

.proficient {
    width: 70%;
}

#beginner {
    width: 10%;
}

#intermediate {
    width: 50%;
}

/* ----- MEDIA QUERIES -----*/

@media screen and (max-width: 1500px) {
    
    .wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        grid-template-columns: 3fr 2fr;
    }
    
    .projects-wrapper, .game-design-wrapper, .profile-wrapper{
        padding: 0;
        margin: 0;
    }
    
    #projects-leftside div p{
        font-size: 1.1em;
        height: auto;
        margin: auto 2em;
    }

    #leftside div {
        width: 100%;
    }

}

@media screen and (max-width: 1205px) {
    
    html,
    body {
    font-size: 97%;
    }
    
    .wrapper {
        grid-template-columns: 5fr 4fr;
    }
    
    #navbar a {
        text-align: center;
    }
    
    #navbar #projects-nav {
        display:block;
    }

    #navbar #projects-experience-nav{
        display: none;
    }
    
    
     #projects-leftside div p{
       
        line-height: 1.35em;
        margin: auto 2em;
    }
}


@media screen and (max-width: 1000px) {
    
    html,
    body {
    font-size: 90%;
    }
    
    .wrapper {
        grid-template-columns: 1.2fr 1fr;
    }
    
    #projects-leftside div p{
        line-height: 1.35em;
        margin: auto 2em;
    }
    
    
}

@media screen and (max-width: 850px) {
    
    .wrapper {
        display: block;
    }
    
    .projects-wrapper{
        padding: 0;
    }
    
    
    .projects-wrapper #projects-leftside div{
        display: block;
    }
    
    .projects-wrapper #projects-leftside .wide-project p{
        padding: 1em;
    }
    
    .projects-wrapper #projects-leftside .video-container{
        display: grid;
    }
    
    .projects-wrapper #projects-leftside .quad-project .quad-videos video{
        margin: 1em;
    }
    
    #projects-leftside .quad-project .quad-videos video {
        width: 90%;
        padding: 0;
        margin: auto;

    }

    #projects-leftside .quad-project .quad-videos #top-left {
        margin: 1em auto 0.5em;
    }

    #projects-leftside .quad-project .quad-videos #top-right {
        margin: 1em auto 0.5em;
    }

    #projects-leftside .quad-project .quad-videos #bottom-left {
        margin: 0.5em auto 0;
    }

    #projects-leftside .quad-project .quad-videos #bottom-right {
        margin: 0.5em auto 0;
    }

    .profile-wrapper div{
        display: block;
    }
    
    .profile-wrapper div img {
        margin: 2em auto;
        display: block;
    }
    
    #projects-leftside div p{
        margin: 0;
        padding: 1em;
        font-size: 1em;
    }
    
    
    footer {
        grid-template-columns: 1.5fr 1fr;
    }
    
    footer p:first-of-type{
        padding: 0;
        padding-right: 40%;
    }
    
    footer p:last-of-type{
        padding-left: 0;
    }
    
    header h1 {
        font-size: 1.8em;
    }
    
    #navbar{
        font-size: .8em;
        height: auto;
    }
         
    #navbar #projects-nav {
        display:block;
    }

    #navbar #projects-experience-nav{
        display: none;
    }
    
    
    #navbar li {
        margin: auto;
    }

    #navbar a {
        text-align: center;
        display:block;
    }
    
    #leftside div {
        width: 100%;
    }
    
    #leftside, #leftside div:last-child
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    #contactinfo
    {
        padding-top: 1em;
        border-top: 2px grey solid;
    }
}


@media screen and (max-width: 450px) {
    
    
    html,
    body {
    font-size: 85%;
    }
    
    
}

@media screen and (max-width: 375px) {
    
    html,
    body {
    font-size: 80%;
    }
    
    footer {
        grid-template-columns: 1fr 1fr;
    }
    
    
    footer p {
        font-size: 1.15em;
    }
    
    footer p:first-of-type{
        padding-right: 15%;
    }
    
    footer p:last-of-type{
        padding-right: 10%;
    }
    
}

@media screen and (max-width: 325px) {
    
    html,
    body {
    font-size: 77.5%;
    }
    
    
}



